[submodule "themes/papermodx"]
	path = themes/papermodx
	url = https://github.com/codebotx/papermodx.git
[submodule "themes/papermodxn"]
	path = themes/papermodxn
	url = https://github.com/codebotx/papermodx.git